.match {
    background-color: lightgoldenrodyellow;
}

.match:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.country {
    color: darkgoldenrod;
}

.title.is-1 {
    font-size: 4em !important;
}

#current-city {
    font-size: 0.9em;
    color: lightgray;
}

h1 {
    margin-bottom: 1rem !important;
}

.wicon {
    width: 100px;
}

#down-arrow {
    fill: lightgray;
    width: 3.5%;
    margin-left: 50%;
    margin-top: 2%;
    margin-bottom: -5%;
    align-self: flex-end;
    transition: transform 300ms ease;
}

.card-footer {
    display: none;
    height: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.is-active {
    transform: rotate(180deg);
}

.is-cf-active {
    visibility: visible;
    height: 100px;
    display: flex;
}

#down-arrow:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
    font-size: medium;
}